.taskItem {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.taskItem .listItemText {
    width: fit-content;
    -webkit-flex: unset;
    -ms-flex: unset;
    flex: unset;
}

.listItemText span {
    width: fit-content;
}